<!DOCTYPE html>
<meta charset="utf-8">
<style>
    html,
    body {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    #map {
        height: 100%;
        background: gray;
    }
</style>

<body>
    <div id="map">
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="./static/js/build/script.js"></script>
<script src="//localhost:35729/livereload.js"></script>
<script type='text/javascript'>//<![CDATA[
;document.write("<script defer src='//HOST:3000/socket.io/socket.io.js'><\/script><script defer src='//HOST:3001/client/browser-sync-client.0.9.1.js'><\/script>".replace(/HOST/g, location.hostname));
//]]></script>
